[Unit]
Description=OpenVAS Manager
Documentation=man:gvmd(8) https://www.greenbone.net
After=openvas-scanner.service

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
PIDFile=/usr/var/run/gvmd.pid
ExecStart=/usr/sbin/gvmd
KillMode=mixed
Restart=always
RestartSec=1
User=root
Group=root
TimeoutStartSec=600
TimeoutStopSec=60
